.loginform{
    width: 585px;
    height: 426px;
    background-color: #3e3f44;
}
.login{
	color:#f5f5f5;
	margin: 63px;
}
.input{
	margin-top: 5px;
	border-radius: 0px;
	margin:0px;
	background-color: #55565b;
}
.check{
	width: 20px;
	height: 20px;
	border: solid 1px #707070;
	margin: 0px;
}
.loginbtn{
	margin-left: 205px;
	border-radius: 5px;
	background-color: #55565b;
	width: 111px;
	height: 55px;
	color: #f5f5f5;
}