.backgenc{
	height: 753px;
	width: 1920px;
	margin-top: 15px;
	background-image: url('https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/83130198_787523921762562_5164966626075869184_n.png?_nc_cat=101&_nc_ohc=YP7yGSpDntgAX80bBwr&_nc_ht=scontent.fpoz1-1.fna&oh=e8cdbc88cddb1ed207a1c6adfe2a3205&oe=5E9E02D1');
}
.img{
	width: 371px;
	height: 564px;
}
.r-1{
	width: 480px;
	height: 74px;
	background-color: #55565b;
	color: white;
	padding-top: 22px;
	padding-left: 29px;
	padding-bottom: 25px;
}
.rl-1{
	width: 150px;
    float: left;
    margin-top: 2px;
    text-transform: uppercase;
}
.rl-2{
	    width: 150px;
	    margin-left: 250px;
}
.r-2{
	width: 480px;
	height: 74px;
	background-color: #4a4d4b;
	color: white;
	padding-top: 22px;
	padding-left: 29px;
	padding-bottom: 25px;
}
.button_f{
	width: 285.6px;
	height: 174.4px;
	border-radius: 71px;
	border-radius: 71px;
	border: solid 1px #707070;
	-webkit-text-stroke: 5px rgba(221, 228, 35, 0.95);
	font-size: 53px;
	color: #707070;
	background: radial-gradient(circle,#284640,#1A2D29,#0A1110);
}
.content{
	color: white;
	width: 817px;
	height: 465px;
	margin-top: 35px;
	margin-left: 8px;
	margin-right: 26px;
	margin-bottom: 23px;

}
@media screen and (max-width: 1366px) {
	body{
		width:1315px;
	}
	.backgenc{
		width: 1348px;
		height: 753px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
		background-repeat: no-repeat;
		background-image: url('https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/83973134_172591730721905_3124486152610906112_n.png?_nc_cat=110&_nc_ohc=wBlV9SnGEqYAX-mIqJz&_nc_ht=scontent.fpoz1-1.fna&oh=b2b66af4066c1491de3498372ce98ba3&oe=5E9D7CBD');
	}
	.firstbox{
		width: 614px;
	}
	.secondbox{
		width: 614px;
	}
	.img{
	width: 271px;
	height: 464px;
	}
	.r-1{
	width: 380px;
	height: 74px;
	background-color: #55565b;
	color: white;
	padding-top: 22px;
	padding-left: 0px;
	padding-bottom: 0px;
	}
	.r-2{
	width: 380px;
	height: 74px;
	background-color: #4a4d4b;
	color: white;
	padding-top: 22px;
	padding-left: 0px;
	padding-bottom: 0px;
	}
	.rl-1{
	width: 50px;
    float: left;
    margin-top: 2px;
    text-transform: uppercase;
	}
	.rl-2{
	    width: 80px;
	}
	.content{
	color: white;
	width: 517px;
	height: 465px;
	margin-top: 35px;
	margin-left: 8px;
	margin-right: 26px;
	margin-bottom: 23px;
	}
	.button_f{
	width: 230.6px;
	height: 154.4px;
	border-radius: 71px;
	border-radius: 71px;
	border: solid 1px #707070;

}