.film{
	width: 195px;
	height: 122px;
	text-align: left;
	color: #f3eeee;
	font-size: 68px;
}
.fas{
	 color: white;
	 padding-left: 68px;
}
.imglogo{
	width: 150px;
	height: 242px;
	margin-left: 230px;
}
input {
  width: 450px;
  height: 46px;
  padding-left: 25px;
  margin-left: 150px;
  border-radius: 42px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-top: 50px;

}
.backgen{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
	height: 316px;
	margin-top: 15px;
	background-image: url('https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/83130198_787523921762562_5164966626075869184_n.png?_nc_cat=101&_nc_ohc=YP7yGSpDntgAX80bBwr&_nc_ht=scontent.fpoz1-1.fna&oh=e8cdbc88cddb1ed207a1c6adfe2a3205&oe=5E9E02D1');
}
.news{
	color: white;
}
.film_border{
	width: 220px;
	height: 312px;
	background-color: #3e3f44;
	color: white;
	margin-left: 9px;
	margin-right: 9px;
}
.newfilm{
	width: 220px;
	height: 280px;
}
.film_gen{
	width: 230px;
	height: 46px;
	background-color: #55565b;
	margin-left:5px;
	margin-right: 5px;
	color: white;
	padding-top: 7px;
	text-transform: uppercase;
}
@media screen and (max-width: 1366px) {
	body{
		width:1315px;
	}
	.film{
		width: 165px;
		height: 122px;
		font-size: 58px;
		margin: 0px;
	}
	.fas{
		margin: 0px;
	 color: white;
	 padding-left:60px;
}
.imglogo{
	width: 150px;
	height: 242px;
	margin-left:140px;
}
	input {
		width: 390px;
		margin-left:10px;
	}
	a.nav-link{
		font-size: 20px;
		margin: 0px;
	}
	.backgen{
		width: 1348px;
		height: 220px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
		background-repeat: no-repeat;
		background-image: url('https://scontent.fpoz1-1.fna.fbcdn.net/v/t1.15752-9/83973134_172591730721905_3124486152610906112_n.png?_nc_cat=110&_nc_ohc=wBlV9SnGEqYAX-mIqJz&_nc_ht=scontent.fpoz1-1.fna&oh=b2b66af4066c1491de3498372ce98ba3&oe=5E9D7CBD');
	}
	.news{
	/*	padding-left: 25px;*/
		font-size: 24px;
	}
	.film_border{
		width: 150px;
		height: 240px;
	}
	.newfilm{
		width: 150px;
		height: 200px;
	}
	}