body{
	width: 1900px;
	background-color: #55565b;
}
.toplink{
	width: 210px;
    height: 290px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
    margin-top: 1px;
}
.toplogo{
	width: 225px;
	height: 335px;
	border: solid 10px rgba(221, 228, 35, 0.95);
}
.nav-link{
	margin-top: 15px;
	color: #ffffff;
	font-size: 21px;
}
.navmenu a:hover{
	color: white;
	border-bottom: 2px solid white;
}
.firstbox{
	width: 100% ;
	height: 450px;
	padding: 0;
	margin-top:15px;
	margin-right: 70px;
	margin-bottom: 15px;
	margin-left: 15px;
	border: solid 1px #707070;
	background-color: #4a4d4b;
}
.secondbox{
	width: 100% ;
	height: 450px;
	padding: 0px;
	margin-top:15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 70px;
	border: solid 1px #707070;
	background-color: #4a4d4b;
}
.button{
	 width: 443.7px;
	 height: 271px;
	 border-radius: 71px;
	 border: solid 1px #707070;
	 -webkit-text-stroke: 10px rgba(221, 228, 35, 0.95);
	 font-size: 83px;
	 color: #707070;
	 margin: 100px;
	 background: radial-gradient(circle,#284640,#1A2D29,#0A1110);
}
.page-footer {
	width: 1902px;
	height: 55px;
	opacity: 0.87;
	border: solid 1px #707070;
	background-color: #141414;
	margin-top: 15px;
	color: white;
	font-size: 17px;
}
.footer-copyright > a{
	color: white;
}
@media screen and (max-width: 1366px) {
	body{
		width:1315px;
	}
	.toplink{
	width: 146px;
	height: 215px;
	}
	.toplogo{
	width: 211px;
	height: 260px;
	border: solid 10px rgba(221, 228, 35, 0.95);
	}
	.firstbox{
		margin-right: 45px; 
	}
	.secondbox{
		margin-left: 45px; 
	}
	.page-footer{
		width:1348px;
	}
}
