.genname{
	color: white;
	text-transform: uppercase;
}
.film_gen_border{
	width: 147px;
	height: 270px;
	background-color: #3e3f44;
	color: white;
	margin-left: 9px;
	margin-right: 9px;
}
.filmgen{
	width: 147px;
	height: 220px;
}