.regform{
	width: 523px;;
	height: 510px;
	background-color: #3e3f44;
}
.fieldreg{
	margin-left: 41px;
	color: #f5f5f5;
}
.checkbox{
	width: 20px;
	height: 20px;
	margin-left:41px;
	margin-top: 0px;
}
.accept{
	color: #f5f5f5;
}
